@inherits LayoutComponentBase
@using GameChanger.Core.Debugging;
@inject VisualLog Logger


<div>
    <h4>Debugger Window : </h4>
   @foreach (var msg in Logs)
        {
            <p style="background-color:@msg.Value.messageColor;">[@msg.Key.ToString("dd-MM-yyyy HH:mm:ss.fff")][@msg.Value.message]</p>
        }
</div>


@code {
    public IOrderedEnumerable<KeyValuePair< DateTime, (string messageColor, string message)>> Logs;

    private Timer _refreshDebuggingTimer;
    protected override void OnInitialized()
    {
        _refreshDebuggingTimer = new Timer(new TimerCallback(RefreshInfo), null, 0, 1000);
        base.OnInitialized();
    }

    private async void RefreshInfo(object state)
    {
        Logs = (new Dictionary<DateTime, (string messageColor, string message)>(Logger.Messages)).OrderBy(el => el.Key);
        await InvokeAsync(StateHasChanged);
    }



}
