@inherits LayoutComponentBase
@using GameChanger.Pages;

<div class="page">
    <AuthorizeView>
        <Authorized>            
            <div  style="background-color:white;width:600px;overflow-y:scroll;font:12px;" @hidden="@HideDebugger">
                <Debugger  />
            </div>
            <div class="sidebar">
                <button @onclick="() => ToggleDebugger()"> Hide debugger</button>
                <NavMenu />
            </div>
            <div class="main">
                <InfoBar />
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <LoginPage />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code
{
    protected bool HideDebugger = false;
    public void ToggleDebugger()
    {
        HideDebugger = !HideDebugger;
    }
}