@inherits LayoutComponentBase
@using GameChanger.Pages;
@inject IJSRuntime JSRuntime

<div class="page">
    <AuthorizeView>
        <Authorized>            
            <div  id="@debuggerWindowId" style="background-color:white;width:600px;overflow-y:scroll;font:12px;" >
                <Debugger  />
            </div>
            <div class="sidebar">
                <button @onclick="async () => await ToggleDebugger()"> Hide debugger</button>
                <NavMenu />
            </div>
            <div class="main">
                <InfoBar />
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <LoginPage />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code
{
    protected const string debuggerWindowId = "debuggerWindow";
    protected bool hidden = false;
    public async Task ToggleDebugger()
    {
        hidden = !hidden;
        await JSRuntime.InvokeVoidAsync("setElementHidden", debuggerWindowId, hidden);
    }
}