@inherits LayoutComponentBase
@using GameChanger.Pages;

<div class="page">
    <AuthorizeView>
        <Authorized>

            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">                
                <nav class="navbar sticky-top navbar-d">
                    <InfoBar />
                </nav>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <LoginPage />
        </NotAuthorized>
    </AuthorizeView>
</div>