# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GameChanger.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Piotrek\Documents\GameChanger\BlazorGame\GameChanger\.idea\.idea.GameChanger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
